# Sans mod_rewrite installé, pas de réécriture d'URL, notre projet est inutilisable
<IfModule !mod_rewrite.c>
	ErrorDocument 500 "mod_rewrite doit etre installé et activé"
</IfModule>
RewriteEngine on
# Tout ce qui n'est ni un fichier...
RewriteCond %{REQUEST_FILENAME} !-f
# Ni un répertoire...
RewriteCond %{REQUEST_FILENAME} !-d
# Sera redirigé sur le fichier index.php sous le nom d'url !
RewriteRule ^(.*)$ /index.php?url=$1
